.body-card {
    display: flex;
    padding: 3vh 10vw;
    flex-direction: column;
    background-color: #F4F2EC;
}

.weather-card{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.graph-weather-stats-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 5vh;
}