.body-card {
    display: flex;
    padding: 3vh 10vw;
    flex-direction: column;
    background-color: #F4F2EC;
}
.weather-card{
    display: flex;
    flex-direction: row;
    background-color: antiquewhite;
    justify-content: space-around;
}