.weather-overview-wrapper {
    padding: 3vh;
}

.current-temperature-text {
    display: flex;
    font-size: 5rem;
}

.temperature-unit {
    padding-top: 1vh;
    font-size: 2.5rem;
}

hr.weather-overview-divider {
    border: none;
    background-color: rgb(229, 229, 229);
    height: 1px;
}

.logo {
    height: 3vh;
}