body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(215, 215, 215);
    margin: 0;
}

@font-face {
    font-family: DM;
    src: url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
}
